NEXT_PUBLIC_SITE_URL=https://skolaroid.com
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
STRAPI_URL=http://localhost:1337
STRAPI_API_TOKEN=

ERPNEXT_URL=https://erp.example.com
ERPNEXT_API_KEY=
ERPNEXT_API_SECRET=
